.path-mod-url .resourcecontent {text-align: center;}
/* .mod_webctimport_item { margin: 0cm 0cm 0cm 0cm; border-width: 0px; padding: 0px; }
.mod_webctimport_checkbox { margin: 0cm 0cm 0cm 0cm; padding: 0px; }
.mod_webctimport_expand { margin: 0cm 0cm 0cm 0cm; padding: 0px; } */
.mod_webctimport_list { margin-top: 0pt; margin-bottom: 2pt; }
.mod_webctimport_item { list-style-type: none; }
.mod_webctimport_hidden { display : none; }
.mod_webctimport_item_description { margin-left: 1cm; font-size: 90%; }